<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/cadastro.css">
  <link rel="sortcut icon" href="../assets/imgs/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Cadastro</title>
</head>

<body>
  <div id="app">
    <header>
      <p>Vamos Começar!</p>
      <p>Por favor nos informe os seguintes dados...</p>
    </header>

    <form action="./cliente.html" method="GET">

      <div class="form-input">
        <label>*Digite o seu nome</label>
        <input type="text" name="name" placeholder="Nome" required>
      </div>
      <div class="form-input">
        <label>*Digite um e-mail válido.</label>
        <input type="text" name="email" placeholder="E-mail" required>
      </div>
      <div class="form-input">
        <label>*Digite um número de telefone.</label>
        <input type="number" name="phone" placeholder="Telefone" maxlength="11" required>
      </div>
      <div class="form-input">
        <label>*Os e-mails não conferem.</label>
        <input type="text" name="emailConfirm" placeholder="Confirmar e-mail" disabled required>
      </div>
      <div class="form-input-line">
        <label>*Digite o nome da clínica</label>
        <input type="text" name="clinicName" placeholder="Nome da Clínica" required>
      </div>
      <div class="form-input">
        <label>*Selecione um estado</label>
        <select name="state" required>
          <option value="">Estado</option>
        </select>
        <input type="hidden" name="uf">     
      </div>
      <div class="form-input">
        <label>*Selecione uma cidade</label>
        <select name="city" required disabled>
          <option value="">Cidade</option>
        </select>
      </div>
      <div class="form-input-line">
        <label>*Selecione um plano</label>
        <select name="plan" required>
          <option value="">Plano</option>
          <option value="Plano 1">Plano 1</option>
          <option value="Plano 2">Plano 2</option>
          <option value="Plano 3">Plano 2</option>
        </select>
      </div>

      <button type="submit">Continuar</button>
    </form>

    <footer></footer>
  </div>
  <script src="../scripts/cadastro.js" type="module"></script>
</body>

</html>