<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/cliente.css">
  <link rel="sortcut icon" href="../assets/imgs/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Cliente</title>
</head>

<body>
  <div id="app">
    <header>
      <p>Parabéns!</p>
    </header>
    <div id="sucess">
      <img src="../assets/imgs/sucess.png" alt="">
      <p>A sua unidade está sendo criada e em breve você receberá um e-mail com as instruções<br>para começar a utilizar o Clinic Office.</p>
      <p>Enquanto isso que tal dar uma olhada nos nossos vídeo tutoriais para conhecer as<br>funcionalidades que te ajudarão no seu dia-a-dia?</p>
      <button id="return">Voltar para Site</button>
      <button id="videos">Ver Vídeos</button>
    </div>

    <footer></footer>
  </div>
  <script src="../scripts/cliente.js" type="module"></script>
</body>

</html>