<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/erro.css">
  <link rel="sortcut icon" href="../assets/imgs/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Erro</title>
</head>

<body>
  <div id="app">
    <header>
      <p>Opss!</p>
    </header>
    <div id="error">
      <img src="../assets/imgs/error.png" alt="">
      <p>Ocorreu um erro na sua solicitação, por favor tente novamente mais tarde.</p>
      <button id="return">Voltar para Site</button>
      <button id="videos">Ver Vídeos</button>
    </div>

    <footer></footer>
  </div>
  <script src="../scripts/erro.js" type="module"></script>
</body>

</html>