@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap rel="stylesheet"');
@import url("./partials/footer.css");
@import url("./partials/header.css");
@import url("./partials/animation.css");

body {
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  animation: fade 0.5s;
}

div#sucess {
  margin: 35px auto 40px;
  text-align: center;
  font-weight: 600;
}

div#sucess img {
  width: 150px;
}

div#sucess button {
  margin: 30px;
  background-color: var(--background-color-button);
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  transition: 0.2s ease;
}

div#sucess button:hover {
  padding: 10px 13px;
  margin: 30px 27px;
  background-color: var(--background-color-button-focus);
}

div#sucess {
  animation: move 0.9s;
}

.body-hide {
  animation: down 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 600px) {
  body {
    text-align: center;
    width: 100%;
  }

  div#sucess {
    width: 80%;
  }
}