:root {
  --background-color: #f2f2f2;
  --background-color-button: #60b49c;
  --background-color-button-focus: #44927c;
}

footer hr {
  width: 65%;
  border: none;
  border-top: 3px solid #cecece;
  margin: 0 auto 30px;
}

footer p {
  color: #7c7c7c;
}

footer div#footerContent {
  line-height: 1.8;
  margin: 0 8%;
  display: flex;
  justify-content: space-between;
}

footer div#location p::before {
  content: '\f138';
  color: #7c7c7c;
  position: relative;
  font-family: FontAwesome;
  font-size: 16px;
  right: 4px;
}

footer div#fixedFooter {
  background-color: #e7e7e7;
  margin-top: 20px;
  padding: 35px;
}

@media (max-width: 600px){
  div#footerContent {
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    padding: 5%;
  }
}